{% extends "base.html" %}
{% block content %}

<section class="hero">

    <div class="hero-left">
        <h1>
            Align Your <span>Confidence</span><br>
            With Artificial Intelligence
        </h1>

        <p>
            ProAlign AI helps you master posture, refine facial expressions,
            and dominate interviews with real-time AI feedback.
        </p>

        <div class="hero-buttons">
            <a href="/signup" class="btn-primary">Start Free</a>
            <a href="/login" class="btn-outline">Login</a>
        </div>
    </div>

    <div class="why-card">
    <h3>Why ProAlign?</h3>

    <ul>
        <li>AI Mock Interview Simulation</li>
        <li>Real-Time Posture Analysis</li>
        <li>Facial Emotion Training</li>
        <li>Confidence Tracking</li>
    </ul>
</div>
    

</section>

{% endblock %}